.git
.github
.vscode
.VSCodeCounter
archive
cleaner
docs
node_modules
src
test

.dockerignore
.DS_Store
.editorconfig
.env.example
.gitattributes
.gitignore
.idea
.nvmrc
.prettierignore
.prettierrc.json
docker-compose.yml
Dockerfile
eslint.config.mjs
README.md
LICENSE
targets.example.json
tsconfig.json